* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
    background-color: #fdf2e9;
    font-size: 15px;

}

.navbar .logo {
    font-size: 40px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #fdf2e9;

}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;

}

.hero p {
    font-size: 16px;
    margin-bottom: 20px;
}

.hero .button {
    text-decoration: none;
    background-color: rgb(252, 132, 20);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    width: 150px;
    height: 45px;

}

.hero img {
    margin-top: 30px;
    width: 79%;
    /* max-width: 800px; */
}

.banner {
    display: grid;
    justify-items: center;
}

.feature-grid {

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding: 40px 230px;
    gap: 50px;


}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 50%;
}

.image-grid img {
    width: 100%;
    border-radius: 8px;
}

.features .p {
    width: 40%;
    margin-left: 20px;
    color: #929292;


}

.features .p p {
    margin: 20px 0;
    line-height: 1.6;



}

.p h2 {
    font-size: 37px;
}

.p a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff8800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    height: 45px;
}

.experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 80px 18px;
    width: 1200px;
    margin: 0 auto;
    background-color: white;

}

.experience .container {
    display: flex;
    gap: 100px;
}

.experience-content {
    width: 500px;

}

.experience-content p {
    font-size: 15px;
    color: #555;
}

.experience-image img {
    width: 100%;
    border-radius: 5px;
}

.card-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.card {
    background-color: #fdfdfd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 130px;
}

.image-section {
    position: relative;
    width: 49%;
    text-align: center;
}

.image-section img {
    width: 600px;
    border-radius: 8px;

}

.experience-badge {
    position: absolute;
    bottom: -40px;
    left: -80px;
    background-color: rgb(252, 135, 39);
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    width: 250px;
    height: 150px;

}

.facts-section {
    margin: 0 auto;
    font-size: 15px;
    color: #5f5e5e;
    padding: 80px 10px;

}

.facts {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.fact-item {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ffc67b;
    border-radius: 8px;
    text-align: center;

}

.sponsors {
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}

.facts-section {
    max-width: 1160px;
}

.facts-section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #000;
}

.facts-section p {
    font-size: 1rem;
    color: #666;
    
    margin-bottom: 30px;
}

.facts {
    gap: 90px;
}

.last-div {
    text-align: center;
}

footer {
    margin: 90px;
    margin-left: 230px;
    padding: 40px;
    background-color: #fff4e4;
    font-size: 17px;
    color: #555;
    text-align: center;

}